body
{
    padding;10%;
}

.role
{
    color:darkblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:0%;
}

.timeline
{
    color:dodgerblue;
    font-family: Arial, Helvetica, sans-serif;
    margin:0%;
}